.a-container,.d-container {
  text-align: center;
}
.a-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9203d;
  color: #fff;
}
